<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Badminton Tracker</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link rel="stylesheet" href="static/style.css" />
    </head>

    <body>
        <header class="navbar">
            <nav aria-label="Site sections">
                <ul role="list">
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Badminton Tracker</h1>
            <h2>Games</h2>
            {{ template "games.html" . }}
        </main>
    </body>
</html>
